input {
    text-align: center;
}
.info-container {
    text-align: center;
}
.page-container {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 2rem;
}
.board-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    margin: auto;

    row-gap: 10px;
}
.input-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}
.notification-container {
    display: flex;
    justify-content: center;
}
#image {
    position: absolute;
    width: 400px;
}